<h1>Face#index</h1>
<p>Find me in app/views/face/index.html.erb</p>

<h1>Hello oppai!</h1>

<% @Oppai.each do |hoge| %>
<p class="name"><%= hoge.name  %>
<%= image_tag(hoge.image_name , :class => "oppai") %>
<%= hoge.point %>
</p>
<% end %>
